.video-container {
  width: 100%;
  /* height: 879px; */
  /* background-color: red; */
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: center;
}
video {
  /* height: 100%; */
  width: 100%;
  opacity: 60%;
}
.video-heading-container {
  position: absolute;
  width: 90%;
  top: 4%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* background-color: yellow; */
}

.video-heading-container button {
  width: 306px;
  height: 50px;
  background-color: rgba(174, 156, 127, 1);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  line-height: 30px;
  margin-top: 1.5%;
}
.video-heading-container h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: black;
  width: 60%;
}
@media screen and (max-width: 1000px) {
  .video-container h2 {
    font-size: 35px !important;
  }
  .video-container button {
    width: 250px;
  }
}
@media screen and (max-width: 850px) {
  .video-heading-container {
    align-items: center;
  }
  .video-heading-container h2 {
    width: 70% !important;
    text-align: center;
    font-size: 30px !important;
    line-height: 40px;
  }
}
@media screen and (max-width: 685px) {
  .video-heading-container h2 {
    font-size: 25px !important;
  }
  .video-container button {
    width: 200px;
  }
}
@media screen and (max-width: 580px) {
  .video-heading-container h2 {
    width: 100% !important;
    font-size: 20px;
    line-height: 25px;
  }
  .video-container button {
    width: 90%;
    height: 66px;
  }
}
@media only screen and (min-width: 1645px) {
  .video-heading-container h2 {
    width: 50%;
  }
}
@media screen and (max-width: 1580px) {
  .video-heading-container {
    height: 103%;
  }
}
@media only screen and (max-width: 1670px) {
  .video-heading-container {
    height: 103%;
  }
}
@media screen and (max-width: 1274px) {
  .video-heading-container h2 {
    width: 70%;
  }
}
@media screen and (max-width: 1092px) {
  .video-heading-container h2 {
    width: 80%;
  }
}
@media screen and (max-width: 1354px) {
  .video-heading-container {
    height: 105%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .video-heading-container h2 {
    font-size: 40px;
    width: 60%;
    line-height: 50px;
  }
  .video-heading-container {
    height: 110%;
  }
}
@media screen and (max-width: 1061px) {
  .video-heading-container h2 {
    width: 70%;
  }
}
@media screen and (max-width: 999px) {
  .video-heading-container h2 {
    width: 80%;
    font-size: 39px;
  }
}
@media screen and (min-width: 514px) and (max-width: 580px) {
  .video-heading-container {
    width: 70%;
    /* background-color: yellow; */
  }
  .video-heading-container h2 {
    line-height: 35px;
  }
}
@media screen and (min-width: 399px) and (max-width: 513px) {
  .video-heading-container h2 {
    line-height: 35px;
  }
}
@media screen and (max-width: 398px) {
  .video-heading-container {
    width: 100%;
    /* background-color: yellow; */
  }
  .video-heading-container h2 {
    font-size: 22px !important;
    line-height: 35px;
    /* font-weight: 600 !important; */
    /* line-height: 35px !important; */
  }
}
